# Apache Rewrite Rules for Static HTML subpages
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # If requested as /privacy-policy and /privacy-policy/index.html exists
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{DOCUMENT_ROOT}/$1/index.html -f
  RewriteRule ^(.*)$ $1/index.html [L]

  # If requested as /privacy-policy and /privacy-policy.html exists
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{DOCUMENT_ROOT}/$1.html -f
  RewriteRule ^(.*)$ $1.html [L]
</IfModule>
